* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
}

video {
  width: 100%;
  height: 70%;
  opacity: 80%;
  object-fit: cover;
}

.searchInput {
  width: 100%; /* or any specific width you prefer */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cityGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;

  width: 100%;
  top: 70%;
}

.cityBlock {
  width: 23%;
  margin: 10px;
  height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 16px;
}

.cityBlock:not(:hover) {
  opacity: 0.8; /* Slightly dim blocks that are not hovered */
}

.cityBlock:hover {
  transform: scale(1.15); /* Scale up the block by 15% on hover */
  z-index: 10; /* Ensure the scaled element is above others */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.cityBlock img {
  width: 100%; /* Responsive width */
  height: 250px; /* Fixed height */
  object-fit: cover; /* Ensures the image covers the area without distorting ratio */
  display: block;
}

.cityName {
  position: absolute; /* Position the text over the image */
  width: 100%; /* Stretch the text box across the block */

  color: white;
  font-size: 32px;
  padding: 5px 0;
}
